*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
*cache
.coverage
.idea/
.tox/
__pycache__/
build/
dist/
eggs/
env/
htmlcov/
lib/
lib64/
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
venv*
